/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}
hr {
  margin: 0;
}
/* custom css  */
body {
  font-family: "Inter", sans-serif;
}

.nav--container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  margin: 20px 0px;
  padding: 0px 200px;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.search-button-container {
  display: flex;
  justify-content: center;
}
.search-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #cdcdcd;
  border-radius: 9999px;
  width: 300px;
  padding: 10px 5px;
  box-shadow: 2px 2px 5px #cdcdcd;
}

.search-button:hover {
  box-shadow: 3px 3px 6px #cdcdcd;
}

.search-icon-wrapper {
  padding: 5px;
  background-color: #ff5a5f;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.nav--container--list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav--container--element {
  margin: 0px 5px;
  cursor: pointer;
  padding: 15px 10px;
  border-radius: 9999px;
  background: none;
  border: none;
  font-size: 15px;
  font-weight: 600;
}

.globe-image-wrapper-container {
  width: 28px;
  max-width: 100%;
  margin: 0px 5px;
  cursor: pointer;
  padding: 10px 8px;
  border-radius: 9999px;
}
.globe-image-wrapper-container:hover {
  background-color: #f1f1f1;
}

.user-wrapper {
  width: 35px;
  margin: 0px 5px;
  padding: 10px 8px;
  border-radius: 9999px;
  cursor: pointer;
}

.user-wrapper:hover {
  box-shadow: 2px 2px 10px #f1f1f1;
}

.nav--container--element:hover {
  background-color: #f1f1f1;
}

.nav--container--element > img {
  width: 25px;
}

.hero-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0px 200px;
}

.hero-section-intro {
  margin-bottom: 20px;
}
.hero-section-intro-title > h1 {
  font-size: 25px;
  font-weight: 600;
  padding: 10px 0px;
}

.hero-section-intro-options > button {
  margin-right: 20px;
}

.underline {
  cursor: pointer;
  text-decoration: underline;
}
.hero-section-intro-details > h3 {
  margin: 0px 5px;
}

.hero-section-intro-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.hero-section-intro-details {
  display: flex;
  align-items: center;
  padding: 2px 0px;
}

.star-wrapper {
  width: 14px;
}

.hero-section-intro-details > h3 {
  font-weight: 600;
}
.hero-section-intro-options {
  display: flex;
}

.hero-section-intro-options > button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 14px;
}
.share-icon-wrapper {
  width: 18px;
  margin-right: 5px;
}
.heart-icon-wrapper {
  width: 18px;
  margin-right: 5px;
}

.hero-section-intro-options > button:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.hero-images {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 5px;
  border-radius: 10px;
  overflow: hidden;
}
.major-image-wrapper > img {
  height: 100%;
}
.hero-images-minor {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  height: 100%;
}

.parent-container {
  display: flex;
  padding: 20px 200px;
}

.left-section {
  padding-right: 100px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.description-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.host-image-wrapper {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
}
.host-image-wrapper img {
  overflow: hidden;
}
.title-info h1 {
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
}

.title-info > h3 {
  padding: 5px;
}

.description-2 {
  padding: 10px 0px;
}
.description-2-a {
  display: flex;
  margin: 10px 0px;
}
.parking-icon-wrapper {
  width: 30px;
}

.parking-text {
  padding: 0px 5px;
}
.parking-text > h1 {
  font-size: 14px;
}
.communication-icon-wrapper {
  width: 30px;
}
.communication-text {
  padding: 0px 5px;
}
.description-2-a > div {
  margin-left: 5px;
}

.description-2-a > div > h1 {
  font-size: 18px;
}

.description-2-a > div > h4 {
  font-size: 15px;
  padding: 5px 0px;
}

.description-2-b {
  display: flex;
}

.description-2-b > img {
  width: 30px;
}

.description-2-b > div {
  margin-left: 5px;
}

.description-2-b > div > h1 {
  font-size: 18px;
}

.description-2-b > div > h4 {
  font-size: 15px;
  padding: 5px 0px;
}

.description-3 {
  padding: 10px 0px;
  line-height: 1.3;
  font-weight: 300;
}

.reservation {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation--top {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 90%;
  padding: 10px;
}
.reservation--top--1 {
  padding: 2px;
  margin-bottom: 10px;
}
.reservation--top--1a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}
.reservation--top--1a > h1 {
  font-weight: 600;
  font-size: 18px;
}
.reservation--top--1a > h2 {
  font-weight: 600;
  font-size: 14px;
}
.reservation--top--1a > p {
  font-size: 20px;
}

.reservation--top--2 {
  display: flex;
  flex-direction: column;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  color: gray;
}
.reservation--top--2::before {
  content: "";
  border: 1px solid #d3d3d3;
  align-self: stretch;
}
.reservation--top--2a {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  order: -1;
}

.reservation--top--2a::before {
  content: "";
  border: 1px solid #d3d3d3;
  align-self: stretch;
}
.reservation--top--2a > div {
  width: 50%;
  margin: 10px;
}

.reservation--top--2b {
  margin: 10px;
}

.reservation--top--3 {
  text-align: center;
}

.reservation--top--3 > button {
  width: 100%;
  align-self: center;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  cursor: pointer;
  background-color: #ff5a5f;
  margin: 5px 0px;
  border: none;
  border-radius: 5px;
}

.reservation--top--3 > button:hover {
  background-color: #ea6569;
}

.reservation--top--4 {
  text-align: center;
  padding: 10px 0px;
  color: gray;
}

.reservation--bottom {
  text-align: center;
  width: 95%;
  padding: 20px 3px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  border: 1px solid gray;
  border-radius: 5px;
}
.reservation-container {
  position: sticky;
  top: 100px;
}

.sleepingArrangements {
  margin-top: 20px;
}

.sleeepingArrangements__heading {
  font-size: 24px;
  font-weight: 600;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.bed-image-wrapper {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.sleepingArrangements__card {
  width: 200px;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  margin-top: 20px;
}

.sleepingArrangements__card__iconContainer {
  width: 200px;
  display: inline-flex;
}

.bed-icon-wrapper {
  width: 30px;
  padding: 10px;
}

.sleepingArrangements__card__title {
  padding: 10px;
  font-weight: 600;
}

.sleepingArrangements__card__body {
  padding: 0px 10px;
  margin-bottom: 15px;
}

.amenities {
}

.amenities__heading {
  font-size: 24px;
  font-weight: 600;
  padding: 20px 0px;
  margin-top: 20px;
}

.amenities__grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}
.amenities__grid__elements {
  display: flex;
  align-items: center;
}

.amenities__grid__elements div {
  width: 27px;
}

.amenities__grid__elements p {
  margin-left: 20px;
}

.amenities__card {
  margin-top: 25px;
  border: 1px solid black;
  width: fit-content;
  border-radius: 5px;
}
.amenities__card:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.amenities__card__text {
  padding: 15px 20px;
  font-size: 15px;
  font-weight: 600;
}

.location {
  padding: 50px 200px;
  background-color: #f1f1f1;
}

.location__heading {
  font-size: 22px;
  font-weight: 500;
  padding: 30px 0;
}

.location__list {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 30px;
}

.location__list-elements {
  color: gray;
  font-weight: 300;
}
.location__list-elements:hover {
  cursor: pointer;
}
